{% extends "default.njk" %}]

{% block content %}
<main id="content">

    <section id="checkout" class="py-5">
        
        <div class="container">
            <div class="row no-gutters justify-content-center align-items-center height-vh">
                <div class="col-sm-8 col-md-6 text-center text-muted">
                    <h3 class="text-color-primary-20">Thank you.</h3>
                    <p class="mb-5">Halo Andy Christiawan, pesananmu telah berhasil.</p>

                    <p class="text-spacing-2 font-weight-bold mb-1">ORDER ID</p>
                    <h4 class="text-spacing-2 font-sans mb-5">NUETA20200700001</h4>

                    <div class="card mb-5">
                        <div class="card-header d-flex justify-content-between">
                            BCA Virtual Account
                            <span>
                                <img class="" srcset="assets/img/payment-bca.png 1x,
                                    assets/img/payment-bca@2x.png 2x,
                                    assets/img/payment-bca@3x.png 3x"
                                src="assets/img/payment-bca.png" alt="">
                            </span>
                        </div>
                        <div class="card-body">
                            <p class="small text-muted mb-0">Nomor Virtual Account</p>
                            <p class="font-weight-bold mb-0">80777081285000287</p>
                            <p class="small mb-4"><a href="#">How to payment</a></p>

                            <p class="small text-muted mb-0">Total Payment</p>
                            <p class="font-weight-bold mb-4">IDR 990,000</p>

                            <p class="small text-muted mb-0">Payment Expired</p>
                            <p class="font-weight-bold mb-2">Sabtu, 11 Juli 2020 14:58</p>
                        </div>
                    </div>

                    <p>Kami telah mengirimkan email otomatis yang berisi rincian pemesananmu.</p>
                    <p>Terima kasih telah berbelanja di Nueta.</p>

                    <a href="product.html" class="btn btn-primary mt-5">Kembali berbelanja</a>
                </div>
            </div>
        </div>
        
    </section>
    
</main>
{% endblock %}
