<meta name="description" content="">

<meta property="og:url" content="https://mineral.co.id">
<meta property="og:type" content="article">
<meta property="og:title" content="Mineral">
<meta property="og:description" content="Application Design & Development studio based in Jakarta.">
<meta property="og:image" content="https://s3-ap-southeast-1.amazonaws.com/mineral-static/mineral/og_image.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mineralstudio">
<meta name="twitter:creator" content="@mineralstudio">
<meta name="twitter:title" content="Mineral">
<meta name="twitter:description" content="Application Design & Development studio based in Jakarta.">
<meta name="twitter:image" content="https://s3-ap-southeast-1.amazonaws.com/mineral-static/mineral/og_image.jpg">