<div class="modal fade show" id="modal-subscribe" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fal fa-times"></i>
            </button>
            <div class="row no-gutters flex-md-row-reverse">
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="holder.js/600x800?auto=yes" alt="">
                </div>
                <div class="col-12 col-md-6 p-5 d-flex justify-content-between flex-column">
                    <div class="text-color-primary-20">
                        <p>Subscribe for 15% off your next order and occasional offers, product updates or free shipping.</p>
                    </div>

                    <div>
                        <h3><a class="text-color-primary-20" href="#">Subscribe</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>