<table class="order-total reset table">
    <tfoot>
        <tr>
            <th class="font-weight-normal">Order Sub-total</th>
            <td class="font-weight-normal text-right">IDR 950,000</td>
        </tr>
        <tr>
            <th class="font-weight-normal">Shipping</th>
            <td class="font-weight-normal text-right">IDR 10,000</td>
        </tr>
        <tr>
            <td class="font-weight-normal text-center" colspan="2">
                Please <a href="#" class="font-weight-bold">login</a> to use promo code.
            </td>
        </tr>
        <tr>
            <td class="font-weight-normal" colspan="2">
                <div class="subscribe input-group">
                    <input type="text" class="form-control" placeholder="Voucher Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Apply</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="font-weight-normal">Discount</th>
            <td class="font-weight-normal text-right" style="color:red">IDR (-50,000)</td>
        </tr>
        <tr>
            <th>Grand Total</th>
            <td class="text-right font-weight-bold">IDR 990,000</td>
        </tr>
    </tfoot>
</table>