/* -------------------------------------------------------------------------- */
/*                             OVERRIDE BOOTSTRAP                             */
/* -------------------------------------------------------------------------- */
@include media-breakpoint-down(xs){
    .p-5{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .py-5{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .mb-5{
        margin-bottom: 2rem !important;
    }
}

/* -------------------------------------------------------------------------- */
/*                                EXTEND CLASS                                */
/* -------------------------------------------------------------------------- */
.w-66{
    width: 66%;
}
.w-33{
    width: 33%;
}
.btn-wide{
    padding-left: 3rem;
    padding-right: 3rem;
}
.text-center-mobile{
    @include media-breakpoint-down(sm){
        text-align: center;
    }
}
.text-color-primary{
    color: $primary;
}
.text-color-primary-20{
    color: darken($primary,20%);
}
.text-spacing-2{
    letter-spacing: 2px;
}
.extra-small{
    font-size: 50%;
}
.box-shadow{
    box-shadow: 10px 10px 60px -25px rgba(0, 0, 0, 0.4);
}
.height-vh{
    min-height: 100vh;
}
.height-vh-75{
    min-height: 75vh;
}
.height-vh-50{
    min-height: 50vh;
}
.height-vh-25{
    min-height: 25vh;
}
.mobile-px-0{
    @include media-breakpoint-down(sm){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.mobile-py-0 {
    @include media-breakpoint-down(sm) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
.mobile-mx-0 {
    @include media-breakpoint-down(sm) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.mobile-my-0 {
    @include media-breakpoint-down(sm) {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
.mobile-mt-3 {
    @include media-breakpoint-down(sm) {
        margin-top: 1rem !important;
    }
}
.mobile-mb-3{
    @include media-breakpoint-down(sm) {
        margin-bottom: 1rem !important;
    }
}
.mobile-ml-3 {
    @include media-breakpoint-down(sm) {
        margin-left: 1rem !important;
    }
}
.mobile-mr-3 {
    @include media-breakpoint-down(sm) {
        margin-right: 1rem !important;
    }
}



/* -------------------------------------------------------------------------- */
/*                                  KEYFRAMES                                 */
/* -------------------------------------------------------------------------- */
@keyframes blinking {
	0% {
        opacity: 0;
	}

	70% {
        opacity: 1;
	}

	100% {
        opacity: 0;
	}
}


/* -------------------------------------------------------------------------- */
/*                                   PLUGINS                                  */
/* -------------------------------------------------------------------------- */
.hamburger{
    // position: absolute;
    // top: 1rem;
    // right: 1rem;
    // padding: 0;

    // @include media-breakpoint-up(md){
    //     display: none;
    // }

    padding: 0;
    margin-top: 10px;

    &,
    &:focus,
    &:active{
        outline: 0;
    }

    .hamburger-box{
        width: 2rem;
    }

    .hamburger-inner{
        &,
        &:before,
        &:after{
            width: 28px;
            height: 1px;
            background-color: #fff;
        }
    }
}
.slick{
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.slick-initialized{
        opacity: 1;
    }
    .slick-slide{
        &, &:focus, &:active{
            outline: 0;
        }
    }

    .slick-arrow{
        z-index: 2;
    }

    @include media-breakpoint-down(md){
        .slick-prev {
            left: 1rem;
        }

        .slick-next {
            right: 1rem;
        }
    }
}