/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
// https://www.color-hex.com/

// BRAND
$primary: #AE7E57;
$secondary: #F3ECE6;
$gray: #928C80;


// COMPONENT
// $black 		: #333333;
$gray-line 	: #EEEEEE;
$gray-bg	: #f5f5f5; 
// $gray-bg-hover: #f5f5f5;
// $red 		: #f8796c;

$primary-line 	: #DED3CD;

// SOCIAL
$facebook 	: #3a589b;
$twitter 	: #598dca;
$youtube    : #c4302c;