<table id="content-order-overview" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2">
								<h2>NUETA1907123456789</h2>
							</td>
						</tr>
						<tr>
							<td>
								<strong>ORDER DATE</strong><br/>
								26/04/2019 00:01:02
							</td>
							<td rowspan="2">
								<strong>SHIPMENT</strong><br/>
								SICEPAT BEST<br/>
								Andy Christiawan<br/>
								Metro Permata 1 Blok A1 No 21<br/>
								Karang Tengah, Tangerang, Banten 15157
							</td>
						</tr>
						<tr>
							<td>
								<strong>PAYMENT</strong><br/>
								BANK TRANSFER
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>