<table id="content-order-item" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<td><strong>PRODUCT</strong></td>
							<td align="center"><strong>QTY</strong></td>
							<td align="right"><strong>PRICE</strong></td>
						</tr>
					</thead>
					<tbody>
						{% for i in range(0,3) %}
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td><img src="https://source.unsplash.com/random/150x200?abstract,{{i}}" alt=""></td>
											<td>
												Product Name {{ i }}<br/>
												IDR 350,000.00<br/>
												<small>Warna : Cokelat<br/>
												Ukuran : All Size</small>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td align="center">1</td>
							<td align="right">IDR 350,000</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Order Sub-total</td>
							<td align="right">IDR 350,000</td>
						</tr>
						<tr>
							<td colspan="2">Shipping</td>
							<td align="right">IDR 9,000</td>
						</tr>
						<tr>
							<td colspan="2">Discount</td>
							<td align="right"><span style="color: red">IDR -50,000</span></td>
						</tr>
						<tr>
							<td colspan="2"><strong>Total</strong></td>
							<td align="right"><strong>IDR 350,000</strong></td>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
	</tbody>
</table>