{% extends "email.njk" %}

{% block content %}
<table id="content" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table id="content-top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<h1>Contact</h1>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table id="content-contact" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td>
												<p><strong>FROM</strong></p>
												<p>Customer Name<br/>
													customer@gmail.com<br/>
													081234567890</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td>
												<p><strong>SUBJECT</strong></p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
												proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

