{% extends "email.njk" %}

{% block content %}
<table id="content" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table id="content-top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<h1>Produk yang anda sukai tersedia kembali</h1>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table id="content-body">
					<tr>
						<td>
							<p>Hi Andy,</p>

							<p><strong>Minor Felicia Blouse in Silver</strong> tersedia kembali.</p>

							<img src="https://source.unsplash.com/random/550x650?abstract" alt="">

							<a href="#" class="btn btn-lg btn-primary btn-block" style="margin: 50px auto 50px">BELI</a>

							<p class="small">Berhenti <a class="link" href="#">berlangganan</a> produk ini.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

