{% extends "email.njk" %}

{% block content %}
<table id="content" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table id="content-top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<h1>Terima kasih telah bergabung di Nueta.</h1>

								<p>Sebelum kami mulai, kami perlu memverifikasi email Anda.</p>

								<a href="#" class="btn btn-lg btn-primary btn-block" style="margin: 50px auto 50px">VERIFIKASI EMAIL</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

