{% extends "email.njk" %}

{% block content %}
<table id="content" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table id="content-top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<h1>FORGOT YOUR PASSWORD</h1>

								<p>Not to worry, we got you! Let’s get you a new password.  </p>

								<a href="#" class="btn btn-lg btn-primary btn-block" style="margin: 50px auto 50px">RESET PASSWORD</a>

								<p>If you didn’t request to change your password,<br/>
									you don’t have to do anything.<br/>
									So that’s easy. 😉</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

