{% extends "email.njk" %}

{% block content %}
<table id="content" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<table id="content-top" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<h1>Kode Voucher</h1>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table id="content-body">
					<tr>
						<td>
							<p>Hi Andy,</p>


							<p>Kamu dapat menggunakan kode berikut untuk berbelanja di situs web kami dan dapatkan potongan harga sebesar <strong>xxx</strong>.</p>

							<div class="highlight">NUETA1901292ABC</div>

							<p><strong>CATATAN PENTING:</strong><br/> Silakan gunakan kode kredit toko ini sebelum <strong>15 April 2019</strong>, atau akan kedaluwarsa.</p>

							<a href="#" class="btn btn-lg btn-primary btn-block" style="margin: 50px auto 50px">MULAI BERBELANJA</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}

