/* -------------------------------------------------------------------------- */
/*                                   Account                                  */
/* -------------------------------------------------------------------------- */
#account{
    @include media-breakpoint-down(sm){
        padding-top: 0 !important;
    }
}
#account-nav{
    @include media-breakpoint-down(sm){
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-bottom: 1rem;
    }

    @include media-breakpoint-up(sm){
        position: sticky;
        top: 40px;
    }

    .nav-link{
        @include media-breakpoint-down(sm){
            margin-right: 1rem;
        }
        @include media-breakpoint-down(up){
            // margin-bottom: 1rem;
            padding-left: 0;
            padding-right: 0;
            border: 0;
            text-align: left;
        }
    }
}

table.tracking-awb{
    tbody{
        tr{
            td{
                &:last-child{
                    font-style: italic;
                }
            }
            &:last-child{
                td{
                    font-style: normal;
                    font-weight: bold;
                    color: green !important;
                }
            }
        }
    }
}