/* -------------------------------------------------------------------------- */
/*                                   Product                                  */
/* -------------------------------------------------------------------------- */
#product-overview {
    z-index: 3;
    top: 0;
    background-color: #fff;
    width: 100%;
    transition: transform .2s ease-in-out;
    transform: translateY(-100%);
    border-bottom: 1px solid $secondary;

    .left {
        @include media-breakpoint-down(md) {
            border-bottom: 1px solid $secondary;
            padding-bottom: .5rem;
            margin-bottom: 1rem;
        }
    }

    .color-selected {
        .color {
            position: relative;
            display: inline-block;
            margin-right: .4rem;

            >span {
                content: '';
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 50%;

                &:after {
                    content: '';
                    height: 10px;
                    width: 10px;
                    display: block;
                    border-radius: 50%;
                    box-shadow: 0 0 0 1px lighten($primary, 30%);
                    transform: scale(1.7);
                }
            }
        }

        .name {
            text-decoration: underline;
        }
    }
}
#product-filter{
    .product-sort{
        span{
            color: $primary;

            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
        select{
            padding: 0;
            border: 0;
            appearance: none;
            -webkit-appearance: none;
            height: 37px;
            font-size: .875rem;
            font-weight: bold;
            color: $primary;
            padding-top: .5rem;
            padding-bottom: .5rem;
            text-align: right;

            &, &:focus{
                outline: 0;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                               Product Detail                               */
/* -------------------------------------------------------------------------- */
#product-detail{
    @include media-breakpoint-up(md){
        padding-top: 2rem;
    }
    .container{
        @include media-breakpoint-down(md){
            padding-left: 0;
            padding-right: 0;
        }
    }
    .product-image{
        .thumbnail{
            grid-gap: 1rem;

            @include media-breakpoint-down(md){
                margin-top: 1rem;
            }
            @include media-breakpoint-up(lg){
                margin-right: 1rem;

                > div{
                    width: 85px;
                }
            }
        }
    }
    .product-detail{
        @include media-breakpoint-down(md){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
#product-image-zoom{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    cursor: grab;

    .close{
        top: 34px;
        right: 34px;
        background: #fff;
        width: 44px;
        height: 44px;
        z-index: 2;
        cursor: pointer;
    }
}

/* -------------------------------------------------------------------------- */
/*                              Product Elements                              */
/* -------------------------------------------------------------------------- */
.product-item{
    .badge{
        top: 1rem;
        left: 1rem;
    }
}
.qty-input{
    // margin-right: 2rem;
    // @include media-breakpoint-between(sm,md){
    //     margin-bottom: 2rem;
    // }
    // @include media-breakpoint-up(lg){
    //     margin-right: 2rem;
    // }
    input{
        width: 3rem;
        border: 0;
        outline: 0;
        height: 3rem;
        background-color: transparent;
    }

    .qty-number{
        background-color: #fff;
        border: 1px solid $light;
        border-radius: 4px 0 0 4px;
        margin-right: -1px;
    }

    .qty-operation{
        background-color: #fff;
        border: 1px solid $light;
        cursor: pointer;

        &[data-operation="minus"]{
            border-radius: 0 4px 0 0;
            margin-bottom: -1px;
        }
    
        &[data-operation="plus"]{
            border-radius: 0 0 4px 0;
        }

        [class*="fa-"]{
            font-size: .7rem;
        }
    }

    
}
.wishlist-btn{
    &, [class*="fa-"]{
        color: $primary;
    }
}
.size-option{
    .size-item{
        cursor: pointer;
        border: 1px solid $light;
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active{
            background-color: $primary;
            border-color: $primary;
            color: #fff;
        }
    }
}